{% load static %}

<style>
    .btn-warning{
        background-color: #0d061a !important;
        border-color: #06030a;
    }
</style>

<!-- Main Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-danger shadow p-0">
    <div class="container-fluid">
        <!-- Sidebar Toggle Button, visible only on smaller screens -->
        <button class="btn btn-outline-white d-lg-none me-3" id="sidebarToggle">
            <i class="fa-solid fa-bars text-white" style="font-size: 25px;"></i>
            <!-- <i class="bi bi-list"></i> -->
        </button>

        <!-- Navbar Brand -->
        <a class="navbar-brand" href="#">
            <!-- <img src="../assets/images/mylogo/logome1.png" alt="" class="logo" style="width: 50px;"> -->
            <img src="{% static 'assets/images/mylogo/logome2half.png' %}" alt="logo" style="width: 40px;">
        </a>

        <!-- Right-aligned content -->
        <div class="d-flex align-items-center ms-auto">
            <img src="{{request.user.account.picture.url}}" alt="Profile" class="rounded-circle me-4" width="40" height="40">

            <div id="google_translate_element"></div>
            
        </div>
    </div>
</nav>

<!-- Sidebar -->
<div id="sidebar" class="hidden shadow">
    <div class="d-flex justify-content-end p-2">
        <!-- Custom Close Button, visible only on smaller screens -->
        <button type="button" class="btn-close btn-close-custom d-lg-none" id="closeSidebar"></button>
    </div>
    <div class="profile_picture px-4">
        <img src="{{request.user.account.picture.url}}" alt="Profile" class="rounded-circle" width="140" height="140">
    </div>
    <hr>
    
    <ul class="nav flex-column p-2">
        <li class="nav-item">
            
            <a class="nav-link" href="{% url 'account:customer_dashboard' %}">
                <i class="fa-solid fa-house me-4"></i><span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            
            <a class="nav-link" href="{% url 'transactions:customer_transfer' %}">
                <i class="fa-solid fa-money-bill-transfer me-4"></i><span>Make Transfer</span>
            </a>
        </li>
        <li class="nav-item">
            
            <a class="nav-link" href="{% url 'account:customer_transactions' %}">
                <i class="fa-regular fa-address-book me-4"></i><span>Statement</span>
            </a>
        </li>
        <li class="nav-item">
            
            <a class="nav-link" href="{% url 'account:customer_care' %}">
                <i class="fa-solid fa-headset me-4"></i><span>Customer Care</span>
            </a>
        </li>
        <li class="nav-item">
            
            <a class="nav-link" href="{% url 'account:customer_ewallet' %}">
                <i class="fa-solid fa-wallet me-4"></i><span>E-Wallet</span>
            </a>
        </li>
        <li class="nav-item">
            
            <a class="nav-link" href="{% url 'account:customer_settings' %}">
                <i class="fa-solid fa-gear me-4"></i><span>Settings</span>
            </a>
        </li>
        <li class="nav-item">
            
            <a class="mt-2 btn btn-warning w-100 text-white" href="{% url 'account:logout' %}">
                <span>Logout</span><i class="ms-3 fa-solid fa-arrow-right-from-bracket"></i>
            </a>
        </li>
        
    </ul>
    <!-- <a class="mt-4 btn btn-warning w-100 text-white" href="{% url 'account:logout' %}">
        <span>Logout</span><i class="ms-3 fa-solid fa-arrow-right-from-bracket"></i>
    </a> -->
</div>